<!---
layout: page
title: Pricing
- -->

<br />
<br />
<br />
<div class="container-fluid" id="notifications">
    <div class="row">

        <div class="col-sm-12">
<h1>Settings</h1><br /><br />
    <% include partials/account-menu.ejs %>

<br />
<br />
<br />

<form>
  <fieldset >

                    <div class="row">
                        <div class="col-sm-3 ">
                            <h4>Account Notifications</h4>
                            

                        </div>
                        
                        <div class="col-sm-5 offset-sm-1 float-md-right">

                             <div class="row">
                                <div class="col-sm-12">
                                    <p>Projects you've backed</p>

                                    <div class="row">
                                        <div class="col-6 col-sm-3">
                                            <a href="" class="btn btn-primary btn-circle mr-3"><i class="icon-envelope-open icons"></i></a>
                                            <a href="" class="btn btn-info btn-circle"><i class="icon-phone icons"></i></a>
                                        </div>
                                        <div class="col-6 col-sm-8">
                                            <p>Projects you've backed</p>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <hr />
                             <div class="row">
                                <div class="col-sm-12">
                                    <p>Following</p>

                                    <div class="row">
                                        <div class="col-6 col-sm-3">
                                            <a href="" class="btn btn-info btn-circle mr-3"><i class="icon-envelope-open icons"></i></a>
                                            <a href="" class="btn btn-info btn-circle"><i class="icon-phone icons"></i></a>
                                        </div>
                                        <div class="col-6 col-sm-8">
                                            <p>Someone you follow has backed or launched a project</p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-3">
                                            <a href="" class="btn btn-primary btn-circle mr-3"><i class="icon-envelope-open icons"></i></a>
                                            <a href="" class="btn btn-primary btn-circle"><i class="icon-phone icons"></i></a>
                                        </div>
                                        <div class="col-6 col-sm-8">
                                            <p>Someone has followed you</p>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <hr />
                             <div class="row">
                                <div class="col-sm-12">
                                    <p>Campus</p>

                                    <div class="row">
                                        <div class="col-6 col-sm-3">
                                            <a href="" class="btn btn-info btn-circle mr-3"><i class="icon-envelope-open icons"></i></a>
                                            <a href="" class="btn btn-primary btn-circle"><i class="icon-phone icons"></i></a>
                                        </div>
                                        <div class="col-6 col-sm-8">
                                            <p>A new answer has been posted on a question you follow</p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-3">
                                            <a href="" class="btn btn-primary btn-circle mr-3"><i class="icon-envelope-open icons"></i></a>
                                            <a href="" class="btn btn-primary btn-circle"><i class="icon-phone icons"></i></a>
                                        </div>
                                        <div class="col-6 col-sm-8">
                                            <p>A daily digest of any follows or upvotes on your posts</p>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <hr />
                             <div class="row">
                                <div class="col-sm-12">
                                    <p>Projects you've launched</p>

                                    <div class="row">
                                        <div class="col-6 col-sm-3">
                                            <a href="" class="btn btn-primary btn-circle mr-3"><i class="icon-envelope-open icons"></i></a>
                                            <a href="" class="btn btn-primary btn-circle"><i class="icon-phone icons"></i></a>
                                        </div>
                                        <div class="col-6 col-sm-8">
                                            <p>New pledge activity (backings, adjustments, cancellations)</p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-3">
                                            <a href="" class="btn btn-primary btn-circle mr-3"><i class="icon-envelope-open icons"></i></a>
                                            <a href="" class="btn btn-primary btn-circle"><i class="icon-phone icons"></i></a>
                                        </div>
                                        <div class="col-6 col-sm-8">
                                            <p>New comments</p>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-3">
                                            <a href="" class="btn btn-primary btn-circle mr-3"><i class="icon-envelope-open icons"></i></a>
                                            <a href="" class="btn btn-primary btn-circle"><i class="icon-phone icons"></i></a>
                                        </div>
                                        <div class="col-6 col-sm-8">
                                            <p>New likes</p>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            <hr />
                             <div class="row">
                                <div class="col-sm-12">
                                    <p>Tips for creators</p>

                                    <div class="row">
                                        <div class="col-6 col-sm-3">
                                            <a href="" class="btn btn-primary btn-circle mr-3"><i class="icon-envelope-open icons"></i></a>
                                            <a href="" class="btn btn-primary btn-circle"><i class="icon-phone icons"></i></a>
                                        </div>
                                        <div class="col-6 col-sm-8">
                                            <p>Advice and guidance to help you run your project</p>
                                        </div>

                                    </div>


                                </div>
                            </div>
                            

                        </div>
                    </div>

  </fieldset>
</form>

                </div>



            </div>
            <br />
<br />
<br />
            </div>

<script>
$(function(){

   // jQuery methods go here...
    $('.btn-circle').bind( "click", function() {
        $( this ).toggleClass( "btn-info" );
        $( this ).toggleClass( "btn-primary" );
        return false;
    });
});
</script>
