<!---
layout: page
title: Pricing
hide_footer: true
- -->

<br />
<br />
<br />
<div class="container-fluid">
  <div class="row">


    <div class="col-sm-12">
      <ul class="breadcrumb">
        <li><a href="edit-basics">Basics</a></li>
        <li><a href="edit-story">Story</a></li>
        <li><a href="edit-perks">Perks</a></li>
        <li><a href="edit-about">About you</a></li>
        <li><a href="edit-accounts">Account</a></li>
      </ul>

    </div>


    <div class="col-sm-8">
      <h1>Let’s get started.</h1>
      <p>Make a great first impression with your project’s title and image, and set your funding goal, campaign duration, and
        project category.</p>

      <form>


        <div class="form-group light-blue">

          <div class="form-group row">
            <label for="example-text-input" class="col-3 col-form-label">Project video</label>
            <div class="col-9">
              <div style="border: 1px dashed #000; background: #fff; width: 100%; display: block; padding: 20px;" class="text-center">
                <p class="text-center">
                  <a href=""><strong>Choose an image from your computer</strong></a>
                </p>
                <p>This is the main image associated with your project. Make it count!</p>
                <p>At least <strong>1024x576 pixels</strong> • 16:9 aspect ratio</p>
              </div>
              <br />
              <p>Have fun – add a video! Projects with a video have a much higher chance of success. For a dose of inspiration,
                check out the Creator Handbook. Need some help? Visit our Creator FAQ.</p>
            </div>
          </div>
        </div>

        <div class="form-group light-blue">

          <div class="form-group row">
            <label for="example-text-input" class="col-3 col-form-label">Prototype gallery</label>
            <div class="col-9">
              <p class="mt-1">Creating a physical product? Be sure to add explicit demos of working prototypes. Photos and videos are always
                a great way to share your creative process and show backers what you’ve accomplished so far.</p>
              <a href="" class="btn btn-primary">Edit gallery</a>
            </div>
          </div>
        </div>

        <div class="form-group light-blue">

          <div class="form-group row">
            <label for="example-text-input" class="col-3 col-form-label">Project description</label>
            <div class="col-9">
              <p class="mt-1">Use your project description to share more about what you’re raising funds to do and how you plan to pull it
                off. It’s up to you to make the case for your project.</p>
              <textarea rows="11" class="form-control"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group light-blue">

          <div class="form-group row">
            <label for="example-text-input" class="col-3 col-form-label">Risks and challenges</label>
            <div class="col-9">
              <p class="mt-1">What are the risks and challenges that come with completing your project, and how are you qualified to overcome
                them?</p>

              <p>Every project comes with its own unique risks and challenges. Let your backers know how you’re prepared to
                overcome these challenges by setting proper expectations and communicating anything that could cause delays
                or changes in your production plan.</p>

              <p>Please mention if you’re still in the process of completing any past projects or if your project requires approval
                or premarket review from an outside company or agency before you can distribute rewards.</p>

              <p>Being fully transparent and addressing these potential challenges from the start will help backers understand
                that your project is a work in progress, and that you’ve thought through all of the possible outcomes.</p>
              <textarea rows="5" class="form-control"></textarea>
            </div>
          </div>
        </div>

        <div class="form-group light-blue">

          <div class="form-group row">
            <label for="example-text-input" class="col-3 col-form-label">Project FAQs</label>
            <div class="col-9">
              <p>You can add frequently asked questions to the FAQ tab on your project page once it goes live. <a href="">Learn more</a>.</p>
            </div>
          </div>
        </div>
</form>
    </div>

    


  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-10 offset-sm-2">


        <strong>Getting started?</strong>
        <p>Visit Campus to read discussions about preparing for a project and more.</p>
        <br />
        <strong>Preview</strong>
        <hr />
        
        				        {% for project in site.data.projects limit:1 %}
					          {% include box project=project %}
				        {% endfor %} 

      </div>
    </div>
  </div>


</div>
<br />
<br />
<br />
</div>

<nav class="navbar fixed-bottom navbar-light bg-faded" style="background: #fff; border-top: 1px solid #eee">
  <div class="container">

    <a href="edit" class="btn btn-primary btn-lg float-right">Save campaign</a>
    <a href="edit" class="btn btn-link btn-lg float-right">Discard changes</a>

  </div>
</nav>