<!---
layout: page
title: Pricing
hide_footer: true
- -->

<br />
<br />
<br />
<div class="container-fluid">
    <div class="row">


        <div class="col-sm-12">
<ul class="breadcrumb">
  <li><a href="edit-basics">Basics</a></li>
  <li><a href="edit-story">Story</a></li>
  <li><a href="edit-perks">Perks</a></li>
  <li><a href="edit-about">About you</a></li>
  <li><a href="edit-accounts">Account</a></li>
</ul>

          </div>

        
        <div class="col-sm-8">
<h1>Set your rewards and shipping costs.</h1>
<p>Invite backers to be a part of the creative experience by offering rewards like a copy of what you’re making, a special experience, or a behind-the-scenes look into your process.</p>


<form>
  <div class="form-group light-blue" >
    <div class="row">
      <div class="col-md-3"><strong>Reward #1</strong><br /><p>0 backers</p></div>
      <div class="col-md-9">

<div class="form-group row">
  <label for="example-text-input" class="col-3 col-form-label">Title</label>
  <div class="col-9">
    <input class="form-control" type="text" value="" placeholder="" id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-search-input" class="col-3 col-form-label">Pledge amount</label>
  <div class="col-9">
    <input class="form-control" type="text" value="" id="example-search-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-3 col-form-label">Description</label>
  <div class="col-9">
    <textarea class="form-control" rows="6" type="text" value="" id="example-email-input"></textarea>
  </div>
</div>
<div class="form-group row">
  <label for="example-url-input" class="col-3 col-form-label">Estimated&nbsp;delivery</label>
  <div class="col-9">
    <input class="form-control" type="text" value="" id="example-url-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-tel-input" class="col-3 col-form-label">Shipping details</label>
  <div class="col-9">
    <input class="form-control" type="tel" value="" id="example-tel-input">
  </div>
</div>

      </div>
    </div>
    
  </div>

  </fieldset>
</form>
<a href="#" class="float-sm-right"><i class="fa fa-plus" aria-hidden="true"></i> Add reward/perk</a></p>


                </div>


        <div class="col-sm-4">
        <div class="row">
        <div class="col-sm-10 offset-sm-2">


               <strong>Getting started?</strong>
               <p>Visit Campus to read discussions about preparing for a project and more.</p>
               <br />
               <strong>Preview</strong>
<hr />
				        {% for project in site.data.projects limit:1 %}
					          {% include box project=project %}
				        {% endfor %} 

          </div>
          </div>
          </div>


            </div>
            <br />
<br />
<br />
            </div>

<nav class="navbar fixed-bottom navbar-light bg-faded" style="background: #fff; border-top: 1px solid #eee">
          <div class="container">

    <a href="edit" class="btn btn-primary btn-lg float-right">Save campaign</a>
        <a href="edit" class="btn btn-link btn-lg float-right">Discard changes</a>

  </div>
</nav>