<!DOCTYPE html>
<html lang="en">
<title>
  <%= page.title%>
</title>
<% include includes/head %>
<body class="plain">
  <% include partials/header-plain %>

  <%- body %>

  <br />
  <br />
  <br />
<!-- <% include includes/footer%> -->
  <!-- JavaScript -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU"
    crossorigin="anonymous"></script>
    <script>
        var app = new Vue({
            el: '#navbar',
            data: {
              search: false
            },
            methods: {
              showSearchBar: function () {
                this.search = true;
              },
              hideSearchBar: function () {
                this.search = false;
              }
            }
          })
    </script>
</body>

</html>