<!---
layout: page
title: Pricing
- -->


<div class="row mt-5 mb-5">
    <div class="col-sm-12 text-center">
        <h1><%= page.title%></h1>
        <p class="lead mb-1">
            We have super simple pricing
        </p>
    </div>
</div>

<div class="row mt-5 mb-5">
    <div class="col-sm-8 offset-sm-2">
        <table class="table">
        <thead>
            <tr>
            <th></th>
            <th>Plan name</th>
            <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"><input type="radio" name="price" /></th>
                <td>Pay monthly</td>
                <td>£20</td>
            </tr>
            <tr>
                <th scope="row"><input type="radio" checked="checked" name="price" /></th>
                <td>3 Months Unlimited Access</td>
                <td>£40</td>
            </tr>
            <tr>
                <th scope="row"><input type="radio" name="price" /></th>
                <td>12 Months Unlimited Access	</td>
                <td>£60</td>
            </tr>
            <tr>
            <th scope="row"><input type="radio" name="price" /></th>
                <td>24 Months Unlimited Access	</td>
                <td>£90</td>
            </tr>
        </tbody>
        </table>

    </div>
    <div class="col-sm-8 offset-sm-2">
        <br />
        <br />
        <div class="form-check">
            <label class="form-check-label">
            <input type="checkbox" class="form-check-input">
            I agree to the <a href="/terms">terms and conditions</a>
            </label>
        </div>
    </div>
    <div class="col-sm-8 offset-sm-2">
        <a href="" class="btn btn-primary">Secure checkout</a>
    </div>


    <div class="col-sm-8 offset-sm-2">
        <br />
        <p><strong>Note:</strong> All accounts come with a 30 day money back guarantee and free email support. There are no recurring payments, we will email you once your subscription is over.</p>

    </div>
</div>
