<!---
layout: page
title: Tour
- -->

<div class="row mt-5">
    <div class="col-sm-12 text-center">
        <h1><%= page.title%></h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-8 offset-sm-2">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages" role="tab">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a>
            </li>
        </ul>
    </div>

    <div class="col-sm-8 offset-sm-2">


        <!-- Tab panes -->
        <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">
                    <br />
                    <br />
                    <p class="text-center">
                    <img class="img-fluid img-thumbnail" src="http://lorempixel.com/600/340/technics/1" />
                    </p>
                    <br />
                    <h4>Works on iPads, tablets and mobiles</h4>
                    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel">
                    <br />
                    <br />
                    <p class="text-center">
                    <img class="img-fluid img-thumbnail" src="http://lorempixel.com/600/340/technics/2" />
                    </p>
                    <br />
                    <h4>Visualize your data in realtime</h4>
                    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                </div>
                <div class="tab-pane" id="messages" role="tabpanel">
                    <br />
                    <br />
                    <p class="text-center">
                    <img class="img-fluid img-thumbnail" src="http://lorempixel.com/600/340/technics/3" />
                    </p>
                    <br />
                    <h4>Make future predictions in an instant</h4>
                    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                </div>
                <div class="tab-pane" id="settings" role="tabpanel">
                    <br />
                    <br />
                    <p class="text-center">
                    <img class="img-fluid img-thumbnail" src="http://lorempixel.com/600/340/technics/4" />
                    </p>
                    <br />
                    <h4>Track eveything</h4>
                    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                </div>
        </div>

    </div>

    </div>